<h4 class="page-header">About <small>NCKU Online Judge</small></h4>
<h5>Site Info</h5>
<div class="well">
This site is powered by Ruby on Rails! <br>
The original site: <a href="https://tioj.ck.tp.edu.tw">https://tioj.ck.tp.edu.tw</a><br>
TIOJ Github Repo: <a href="https://github.com/joshua5201/tioj">https://github.com/joshua5201/tioj</a>, <a href="https://github.com/adrien1018/tioj">https://github.com/adrien1018/tioj</a> <br>
miku Github Repo: <a href="https://github.com/silverneko/miku">https://github.com/silverneko/miku</a>, <a href="https://github.com/adrien1018/miku">https://github.com/adrien1018/miku</a> <br>
Still in development, any issues or pull requests are welcomed. <br>
</div>
<h5>Contact</h5>
<div class="well">
陳冠霖：kitakami900807<img src="/pimgs/at_sign.bmp">gmail.com<br>
高階競技程式設計：nckuacm<img src="/pimgs/at_sign.bmp">imslab.org<br>
計算機程式設計：cp<img src="/pimgs/at_sign.bmp">imslab.org<br>
</div>
<h5>Contributors</h5>
<div class="well">
  NCKU OJ<br>
  Setter:<br>
  成大資工112 陳冠霖(leo900807)<br>
  <br>
  TIOJ<br>
  Developers: <br>
  建資25<sup>th</sup> 蕭從恩(joshua5201)<br>
  建資25<sup>th</sup> 陳家陞(qitar888)<br>
  建資25<sup>th</sup> 江懿友(silverneko) <br>
  Debugger and Adviser: <br>
  建電34<sup>th</sup> 丁安立(anlialtting) <br>
  Contributor: <br>
  IOI 29<sup>th</sup> 吳聖福(adrien1018, Yihda Yol) <br>
  IOI 29<sup>th</sup> 蘇柏瑄(briansu) <br>
  建資29<sup>th</sup> 陳冠宇(edisonhello) <br>
</div>
<h4>History</h4>
<h5>2019.12</h5>
<div class="well">
	NCKU Online Judge正式上線，感謝蘇柏瑄(briansu)及吳聖福(adrien1018)技術支援。<br>
</div>
